<div>
  <div *ngFor="let album of albumListToRender" class="albumcard-container">
    <div class="albumcard-cover"></div>
    <div class="albumcard-data">
      <h3>{{ album.albumName }}</h3>
      <h4>{{ album.artist }}</h4>
    </div>
  </div>
</div>
