.albumcard-container {
  float:left;
  width:120px;
  padding: 10px;
  height: 150px;
  margin: 5px;
  border: 1px solid #ddd;
}

.albumcard-cover {
  background: #555;
  height:100px;
  width:100px;
}

.albumcard-data {
  font-size: 10px;
  font-weight: normal;
  font-family: Verdana, sans-serif;
}
