<div class="timeduration-input" #durationEntry>
    <div class="timeduration-formcontainer">
        <input type="text" name="time-minutes" maxlength="2"
               [value]="minuteValue"
               (keyup)="getLengthValue()"/>:<input type="text"
                                                   name="time-seconds"
                                                   [value]="secondValue"
                                                   minlength="2"
                                                   maxlength="2"
                                                   (keyup)="getLengthValue()" />
    </div>
</div>
