<div class="left">
    <h3>{{ artistData?.artistName }}</h3>
    <table>
        <tr>
            <th>Active Since</th>
            <td>{{ artistData?.activeSince }}</td>
        </tr>
        <tr>
            <th>Musicians</th>
            <td>
                <ol>
                    <li *ngFor="let m of artistData?.musicians">{{ m.musicianName }} ({{ m.instrument }})</li>
                </ol>
            </td>
        </tr>
    </table>
    <button (click)="editArtist()">Edit</button>
</div>
<div class="right">
    <router-outlet></router-outlet>
</div>
