<div class="albumcontainer">
  <form [formGroup]="albumForm" (ngSubmit)="submitAlbumData()">
    <input type="hidden" id="id" value="" />
    <div class="autocomplete-container">
      <div class="form-element">
        <label for="artist">Artist</label>
        <input type="text"
               formControlName="artist"
               name="artist"
               id="artist" />
      </div>
      <div class="autocomplete-popup" *ngIf="this.artistAutoCompleteContent.length > 0">
        <ol>
          <li *ngFor="let artist of this.artistAutoCompleteContent">
            <a (click)="enterSelectedArtistIntoFormField(artist)"
               style="cursor: pointer">{{ artist.artistName }}</a>
          </li>
        </ol>
      </div>
    </div>
    <div class="form-element">
      <label for="albumName">Album</label>
      <input type="text" formControlName="albumName" name="albumName" id="albumName" maxlength="35" />
    </div>
    <div class="form-element">
      <label for="albumYear">Year released</label>
      <input type="number" formControlName="albumYear" name="albumYear" id="albumYear" min="1945"/>
    </div>
    <div class="form-element">
      <label for="genre">Musical genre</label>
      <input type="number" formControlName="genre" name="genre" id="genre"/>
    </div>
    <div class="form-element">
      <label for="genre">Rating</label>
      <div class="rating-selector">
        <input type="radio" formControlName="rating" name="rating" value="1" />
        <input type="radio" formControlName="rating" name="rating" value="2" />
        <input type="radio" formControlName="rating" name="rating" value="3" />
        <input type="radio" formControlName="rating" name="rating" value="4" />
        <input type="radio" formControlName="rating" name="rating" value="5" />
      </div>
    </div>
    <div formArrayName="discs">
      <button type="button" (click)="addDisk()">Add Disc</button>
      <div class="form-disc-section" *ngFor="let d of discs.controls; let i = index">
        <div [formGroupName]="i">
          <h4>Disk {{ d.get('discNumber').value + 1}}</h4>
          <div formArrayName="songs">
            <button type="button" (click)="addSong(d.get('discNumber').value)">Add Song</button>
            <ol>
              <li *ngFor="let song of getSongs(i).controls; let k = index" style="border-bottom:1px solid #555">
                <div [formGroupName]="k">
                  <div class="form-element">
                    <label for="name">Name</label>
                    <input type="text" id="name" formControlName="name" name="name" />
                  </div>
                  <div class="form-element">
                    <label for="length">Length</label>
                    <app-form-time-entry formControlName="length" id="length" name="length"></app-form-time-entry>
                  </div>
                  <button type="button" (click)="deleteSong(i, k)">Delete</button>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <button type="submit">Send off</button>
  </form>
</div>
<pre>{{ albumForm.value | json }}</pre>
