<h1>Music Library app</h1>
<header>
  <ul>
    <li>
      <a [routerLink]="['catalog', 'artist']">Artists</a>
      <a [routerLink]="['catalog', 'albums']">Albums</a>
    </li>
  </ul>
</header>
<div class="left">
  <router-outlet></router-outlet>
</div>


