<div class="albumlist-container">
    <div>
        <button (click)="openNewAlbumForm()">Add Album</button>
    </div>
    <div class="format-selector">
        <button type="button" (click)="onChangeAlbumDisplayClick('list')">List</button>
        <button type="button" (click)="onChangeAlbumDisplayClick('covers')">Covers</button>
        <button type="button" (click)="onChangeAlbumDisplayClick('coversWithList')">Album Content</button>
    </div>
    <div>
        <base-list [showContentStyle]="currentStyle" [albumList]="albumList"></base-list>
    </div>
</div>

