<div>
    <div *ngFor="let album of albumListToRender" class="albumcard-container">
        <div class="albumcard-cover-left"></div>
        <div class="albumcard-data-right">
            <h3><a [routerLink]="['/catalog', 'albums', 'detail', album.id]">{{ album.albumName }}</a></h3>
            <h4>{{ album.artist }}</h4>
            <div class="albumcard-disclist">
                <div class="albumcard-disccontainer" *ngFor="let disc of album.discs">
                    <h5 *ngIf="album.discs.length > 1" style="border-bottom: 1px solid #666">Disc {{ disc.discNumber + 1}}</h5>
                    <div class="albumcard-songlist">
                        <table>
                            <tr *ngFor="let song of disc.songs">
                                <td class="albumcard-songname">{{ song.name }}</td>
                                <td style="text-align:right">{{ song.length | leadingZeroes}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
