.albumcard-container {
    width: 100%;
    min-height: 150px;
    clear: both;
    margin-bottom: 30px;
}

.albumcard-cover-left {
    position: absolute;
    width: 150px;
    height: 150px;
    color:#999;
    margin-right:20px;
    background: #999;
}

.albumcard-data-right {
    margin-left: 180px;
    clear: right;
}

.albumcard-disccontainer h5 {
    font-size: 15px;
    color: #555;
    text-transform: uppercase;
}

.albumcard-songlist table {
    width: 100%;
}

.albumcard-songname {
    width: 70%;
}
