<div class="artists-left">
  <h1>Artists</h1>
  <div class="artist-container">
    <ul>
      <li *ngFor="let artist of listOfArtists">
        <a [routerLink]="['detail', artist.id]">{{ artist.artistName }}</a>
      </li>
    </ul>
  </div>
</div>
<div class="right albumlist">
  <router-outlet></router-outlet>
</div>
