<p>test-wrapper works!</p>
<ng-template #customWrapperTemplate let-userList="people">
  <h1>Hi there, I'm here now, too</h1>
  <ol>
    <li *ngFor="let user of userList">{{ user.name }}</li>
  </ol>
</ng-template>

<app-tlist [listTemplate]="customWrapperTemplate"></app-tlist>
