<p>on-artist works!</p>
<app-artist-list>
    <artist-list-detailing>
        <h1>In embedded template</h1>
        <ul>
            <li *ngFor="let artist of listOfArtists">
                <a [routerLink]="['detail', artist.id]">{{ artist.artistName }}</a>
            </li>
        </ul>
    </artist-list-detailing>

<!--    <itemTemplate>-->
<!--        <a [routerLink]="['detailfffff', artist.id]">{{ artist.artistName }}</a>-->
<!--        <span>Oink oink </span>-->
<!--    </itemTemplate>-->
</app-artist-list>
