<div>
  <form [formGroup]="artistForm" (ngSubmit)="saveArtist()">
    <div class="form-row">
      <label for="id">ID:</label>
      <input type="hidden" formControlName="id" id="id" />
    </div>
    <div class="form-row">
      <label for="name">Name:</label>
      <input type="text" formControlName="artistName" id="name"/>
    </div>
    <div class="form-row">
      <label for="activeSince">Active Since:</label>
      <input type="text" formControlName="activeSince" id="activeSince" />
    </div>
    <div class="form-row">
      <label for="retired">Retired</label>
      <input type="checkbox" formControlName="retired" id="retired" />
    </div>
    <!-- The following will be an expandable list of musicians   -->
    <div formArrayName="musicians">
      <h2>Musicians</h2>
      <button type="button" (click)="addMusician()">Add Musician</button>
      <ol class="band-musicians">
        <li *ngFor="let a of musicians.controls; let i = index">
          <div [formGroupName]="i">
            <div class="form-row">
              <label>Musician name</label>
              <input type="text" formControlName="musicianName" />
            </div>
            <div class="form-row">
              <label>Instrument played</label>
              <input type="text" formControlName="instrument" />
            </div>
            <div class="form-row">
              <label>Year Joined</label>
              <input type="number" formControlName="yearJoined" />
            </div>
            <div class="form-row">
              <label>Year Left</label>
              <input type="number" formControlName="yearLeft" />
            </div>
          </div>
        </li>
      </ol>
    </div>
    <button type="submit">Submit</button>
    <button type="button" (click)="closeArtistEditForm()">Cancel</button>
  </form>
  <pre>{{ artistForm.value | json }}</pre>
</div>
